<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>

<body>
<h1>{{pageTitle}}</h1>
<p>Some Content Here</p>
</body>

<footer>
    <p>Copyright {{currentYear}}</p>
</footer>
</html>
